body {
    background: #c4c4c4;
    
}
  
h1 {
    color: #1e1e1e;
    font: 30px Arial, sans-serif;
    text-shadow: 0px 1px black;
    text-align: center;
    padding-top: 5rem;;
}
  
  .mat {
    width: 3.5rem;
    height: 8rem;
    font-size: 10;
    text-align: center;
    background: #53b89a;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    margin: 5px auto;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
    position: relative;
}
  
.mat label {
    cursor: pointer;
    color:#1e1e1e;
    position: absolute;
    width: 2.5rem;
    height: 4.5rem;
    left: 0.5rem;
    top: 0.9rem;
    font-size: 1.5rem;
 
}
  
.mat:hover {
    background-color:#9ee7b9;
    box-shadow: 2px 2px 2px 2px ;
}

.parent{
  width:25rem;
  height:44rem;
  background-color: #1e1e1e;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
 
.wholecontainer div{
  display: grid;
  justify-content: center;
  align-items: center;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 1 / 4 / 2 / 5; }
.div5 { grid-area: 2 / 1 / 3 / 2; }
.div6 { grid-area: 2 / 2 / 3 / 3; }
.div7 { grid-area: 2 / 3 / 3 / 4; }
.div8 { grid-area: 2 / 4 / 3 / 5; }
.div9 { grid-area: 3 / 1 / 4 / 2; }
.div10 { grid-area: 3 / 2 / 4 / 3; }
.div11 { grid-area: 3 / 3 / 4 / 4; }
.div12 { grid-area: 3 / 4 / 4 / 5; }
.div13 { grid-area: 4 / 1 / 5 / 2; }
.div14 { grid-area: 4 / 2 / 5 / 3; }
.div15 { grid-area: 4 / 3 / 5 / 4; }
.div16 { grid-area: 4 / 4 / 5 / 5; }
.div17 { grid-area: 5 / 1 / 6 / 2; }
.div18 { grid-area: 5 / 2 / 6 / 3; }
.div19 { grid-area: 5 / 3 / 6 / 4; }
.div20 { grid-area: 5 / 4 / 6 / 5; }

  
 


  